<div class="row" ng-init="getTasks()">
    <div class="col-lg-12" ng-repeat="task in tasks">
        <br>
        <ul class="list-group">
            <li class="list-group-item">{{task.question}}</li>
        </ul>
        <div class="btn-group">
            <span ng-repeat="variant in task.answerVariants">
                <label class="btn btn-default" data-checklist-model="_variants" data-checklist-value="variant"
                       uib-btn-checkbox>{{variant.answer}}</label>
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <center>
            <button class="btn btn-success" ng-class="{'disabled': _variants.length < 10}" ng-click="getResult(_variants)">Результат</button>
        </center>
    </div>
</div>
<pre>{{_variants | json}}</pre>